.nav-footer {

    &__item {
        
        margin: 2rem 2rem 0 2rem;
    }

    &__link {
        color: $light-gray;
        font-weight: 600;
        text-decoration: none;
    }

    @media(max-width: 680px) {
        &__item {
        
            margin: 2rem 1rem 0 1rem;
        }
    }
}