<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__item footer__info">
                <img src="/assets/img/logofordark-1.svg" alt="" class="logo footer__logo">
                
            </div>

            <div class="footer__social social">
                <a class="social__link" href="#">
                    <svg class="social__icon social__zen">
                        <use xlink:href="#zen-f"></use>
                    </svg>
                </a>

                <a class="social__link" href="#">
                    <svg class="social__icon social__instagram">
                        <use xlink:href="#instagram-f"></use>
                    </svg>
                </a>

                <a class="social__link" href="#">
                    <svg class="social__icon social__facebook">
                        <use xlink:href="#facebook-f"></use>
                    </svg>
                </a>

                <a class="social__link" href="#">
                    <svg class="social__icon social__vk">
                        <use xlink:href="#vk-f"></use>
                    </svg>
                </a>
            </div>
        </div>

        <ul class="footer__nav nav-footer">
            <li class="nav-footer__item"><a class="nav-footer__link" href="news.html">Новости</a></li>
            <li class="nav-footer__item"><a class="nav-footer__link" href="news.html">Обзоры</a></li>
            <li class="nav-footer__item"><a class="nav-footer__link" href="news.html">Гайды</a></li>
        </div>

        <a href="#" class="button footer__button">В магазин</a>
    </div>
    
    
</footer>