<header class="header">

    <div class="container">
        <div class="header__inner">
            <a class="logo__link" href="index.html">
                <img src="/assets/img/logofordark-1.svg" alt="" class="logo">
            </a>
            <div class="menu-burger">
                <span class="menu-burger__body"></span>
            </div>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a class="nav__link" href="news.html">Новости</a></li>
                    <li class="nav__item"><a class="nav__link" href="news.html">Обзоры</a></li>
                    <li class="nav__item"><a class="nav__link" href="news.html">Гайды</a></li>
                    <li class="nav__item"><a class="nav__link nav__link--orange" href="">В магазин</a></li>
                </ul>
            </nav>

            <form class="search">
                <input class="search__input" type="text" placeholder="Поиск по блогу...">
                <button class="search__button" type="button">
                    <img class="search__img" src="/assets/img/search.svg" alt="">
                    <svg class="search__close">
                        <use xlink:href="#close"></use>
                    </svg>
                </button>
              </form>
        </div>
    </div>
    
</header>